.bike-list {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bike-list h2 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.bike-list ul {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.bike-list a {
  display: block;
}
.bike-list img {
  margin-bottom: 1rem;
}
